<p id="notice"><%= notice %></p>
<% if notice %>
	<%= link_to('Create another activity','/activities/new') %>
<% end %>

<p>
  <b>Club name:</b>
  <%= @activity.club_name %>
</p>

<p>
  <b>Position:</b>
  <%= @activity.position %>
</p>

<p>
  <b>Dates:</b>
  <%= @activity.dates %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
