<p id="notice"><%= notice %></p>
<% if notice %>
	<%= link_to('Create another skill','/computer_skills/new') %>
<% end %>

<p>
  <b>Skill:</b>
  <%= @computer_skill.skill %>
</p>


<%= link_to 'Edit', edit_computer_skill_path(@computer_skill) %> |
<%= link_to 'Back', computer_skills_path %>
