<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<title>Resume for <%= @name %></title>
<style type="text/css">
	table, html {
		font-size : 90%;  
		font-family : Arial;
	}
	table {
		width : 100%;
	}
	table td {
		vertical-align : top;
	}
	td {
		padding : 5 0 0 0;
		width : 300px;
	}
	td:first-child {
		text-align : left;
	}
	td:last-child {
		text-align : right;
		white-space : nowrap;
	}
	.first {
		width : 400px !important;
	}
	p, ul, ul li {
		margin : 0;
		padding : 0;
	}
	ul {
		margin-left : 30px;
	}
	hr {
		margin : 5px 0 5px 0;
		border:1px solid #999;
	}
</style>
</head>
<body>
	<% unless @error.nil? %>
		<h2 style='color:red'><%= @error %></h2>
		<ul>
			<li><%= link_to('Misc variables','/misc_variables') %></li>
			<li><%= link_to 'Computer skills','/computer_skills' %></li>
			<li><%= link_to('Educations','/educations') %></li>
			<li><%= link_to('Experiences','/experiences') %></li>
			<li><%= link_to('Related courses','/related_courses') %></li>
			<li><%= link_to('Activities','/activities') %></li>
		</ul>
	<% end %><table><tbody>
	<tr><td style="text-align:left;vertical-align:middle"><strong><font size="+2"><%= @name %></font></strong></td><td>
	<strong>                                               
	<% @address.split('|').each do |addressLine| %>
		<%= addressLine.upcase %><br />
	<% end %>
	<%= @phone %><br />      
	<%= @email %><br /></strong></td></tr></tbody></table>
	<hr>
	<p><strong>OBJECTIVE</strong></p>
	<p><%= highlight(@objective,@important) %></p>
	<center><strong>COMPUTER SKILLS</strong><br></center>
	<ul style="list-style:none">
	<% @computer_skills.each do |computer_skill| %>
		<li><%= computer_skill.skill %>.</li>
	<% end %>
	</ul>
	<hr>
	<center><strong>EXPERIENCE</strong><br></center>
	<table><tbody>  
	<% @experiences.each do |experience| %>
	  <tr>
	    <td class="first"><strong><%= experience.role %></strong></td>
	    <td><%= experience.company %></td>
	    <td><%= experience.location %></td>
	    <td><%= experience.dates %></td>
			<% if experience.details.size>0 %>
		</tr>
		<tr>
			<td colspan="3">
				<ul>
				<% experience.details.split("\n").each do |detail| %>
					<li><%= detail %></li>
				<% end %>
				</ul>
			</td>
			<td>&nbsp;</td>
			<% end %>
		</tr>
	<% end %>
	</tbody></table>
	<hr>
	<center><strong>EDUCATION</strong></center>
	<table><tbody>
	<% @educations.each do |education| %>   
		<tr>
	    <td style="width:90%"><strong><%= education.degree_type %> in <big><%= education.degree_subject %></big>,</strong> <%= education.school %>, <%= education.school_location %></td>
	    <td><%= education.graduation_date %></td>
	<% end %>
	<tr><td>	
	<strong>Cumulative GPA: <big><%= format("%.2f",@cumulativeGpa.to_f) %> / <%= format("%.2f",@maximumGpa.to_f) %></big></strong>
	</td><td>&nbsp;</td></tr>
	</tbody></table>
	<hr>
	<center><strong>RELATED COURSES</strong></center>
	<ul style="list-style:none">
		<% @related_courses.each do |related_course| %>
			<li><%= related_course.course+((related_course==@related_courses.last)? '.' : ',') %></li>
		<% end %>
	</ul>
	<hr>
	<center><strong>ACTIVITIES</strong></center>
	<table><tbody>      
	<% @activities.each do |activity| %>
	  <tr>
	    <td><strong><%= activity.club_name %></strong></td>
	    <td><%= activity.position %></td>
	    <td><%= activity.dates %></td>
	</tr>
	<% end %>
	</tbody></table>
</body>
</html>                    